
<%= form_for @quiz do |f| %>

  <label>Quiz Name</label><br>
  <%= f.text_field :name %><br>

  <label>Question</label><br>
  <%= f.fields_for :questions do |f_question| %>
    <%= f_question.label :body %>
    <%= f_question.text_field :body %><br>

    <fieldset class='answers'>
      <%= f_question.fields_for :answers do |f_answer| %>
        <div class='answer-form'>
          <%= f_answer.label :body, 'Answer' %>
          <%= f_answer.text_field :body %><br>
          <%= f_answer.label :correct %>
          <%= f_answer.check_box :correct %><br>
        </div>
        <div class='add-answer'>
          Add answer
        </div>
      <% end %>
    </fieldset>

  <% end %>


  <%= f.submit "Update" %>
<% end %>
<div id='add-question'>Add Question</div>
