<%= form_for @quiz do |f| %>

  <label>Quiz Name</label><br>
  <%= f.text_field :name %><br>

  <label>Question</label><br>
  <%= f.fields_for :questions do |f_question| %>
    <%= f_question.text_field :body %><br>
    <%= f_question.text_field :answer %>
  <% end %>

  <%= f.submit "Create" %>
<% end %>
