<h1><%= @quiz.name %></h1>
<% @quiz.questions.each do |question| %>
  <div>
    <h2><%= question.body %></h2>
    <% question.answers.each do |answer| %>
      <% css_class = answer.correct? ? 'correct' : '' %>
      <div class='answer'>
        <p> <%= answer.body %> </p>
        <p class="<%= css_class %>"> <%= answer.correct %> </p>
      </div>
    <% end %>
  </div>
<% end %>

